.DS_Store
angular-app/build/3rdpartylicenses.txt
angular-app/build/favicon.ico
angular-app/build/index.html
angular-app/build/main.5398cb223d3a2a5a.js
angular-app/build/polyfills.d68c27c653f978ca.js
angular-app/build/runtime.f669522b68a671ee.js
angular-app/build/styles.ef46db3751d8e999.css
