<div class="content" role="main">
  <h1>Angular App using a WebComponent</h1>
  <div class='layout'>
    <div id='firstSelection'>no selection</div>
    <div id='secondSelection'>no selection</div>
    <ul-dropdown id='firstDropDown'>
        #dropdown1
        <option slot='option' value='12'>Twelve</option>
        <option slot='option' value='13'>Thirteen</option>
        <option slot='option' value='14'>Fourteen</option>
        <option slot='option' value='15'>Fifteen</option>
        <option slot='option' value='16'>Sixteen</option>
        <option slot='option' value='17'>Seventeen</option>
    </ul-dropdown>
    <ul-dropdown id='secondDropDown'>
        #dropdown2
    </ul-dropdown>
</div>
</div>
