<div class="content" role="main">
  <h1>Angular App using a WebComponent</h1>
  <div class='layout'>
    <div #output1 id='firstSelection'>no selection</div>
    <div #output2 id='secondSelection'>no selection</div>
    <ul-dropdown #dropdown1 id='firstDropDown'>
        <option slot='option' value='12'>Twelve</option>
        <option slot='option' value='13'>Thirteen</option>
        <option slot='option' value='14'>Fourteen</option>
        <option slot='option' value='15'>Fifteen</option>
        <option slot='option' value='16'>Sixteen</option>
        <option slot='option' value='17'>Seventeen</option>
    </ul-dropdown>
    <ul-dropdown #dropdown2 id='secondDropDown'></ul-dropdown>
</div>
</div>
